[Unit]
Description=Run alexa skill listener

[Service]
ExecStart=/home/hello/lights/run.sh
Environment="PYTHONPATH=/home/hello/lights"
WorkingDirectory=/home/hello/lights
StandardOutput=file:/var/log/alexa
StandardError=file:/var/log/alexa
SyslogIdentifier=alexa_listener
User=hello

[Install]
WantedBy=multi-user.target
