[Unit]
Description=Run ngrok service

[Service]
ExecStart=python3 -u /home/hello/lights/python/update_ngrok.py
WorkingDirectory=/home/hello/lights
StandardOutput=file:/var/log/ngrok
StandardError=file:/var/log/ngrok
SyslogIdentifier=update_ngrok
User=hello

[Install]
WantedBy=multi-user.target
